* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 40rem;
}

#gameDisplay {
    border-spacing: 1rem;
    transition: 300ms;
}

#gameDisplay td {
    width: 8rem;
    height: 8rem;
    background-color: aqua;
    margin: 20rem;
    border-radius: 2rem;
    transition: 300ms;
}

#gameDisplay td:hover {
    width: 10rem;
    height: 10rem;
    background-color: rgb(0, 175, 175);
}

.circle::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}

.x::before {
    content: "\2716"; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    font-size: 6em;
    color: red;
    margin: auto;
}

